body{
    margin:0px!important;
    background-color: rgb(219,236,204);
    position:relative;
    font-family: 'Times New Roman', Times, serif!important;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height:100vh;
}
.navbar{
    background-color: rgb(251,178,23);
    color: white;
    width:75%;
    display:flex;
    padding: 2% 0 15% 25%!important;
    align-items: center;
}
.navbar h1{
    font-size: 32px;
    margin-right:20%;
}
.navbar h4{
    border-bottom: 4px solid white;
}
.card{
    margin: auto;
    background-color: white;
    padding: 3%;
    width: 50%;
    height:410px;
    position: absolute;
    top: 150px;
    display: flex;
}
.card .section1{
    margin-right:20px;
}
.card section h1{
    color: rgb(71, 69, 65);
}
.card section p{
    color: rgb(103, 97, 87);
}
.section2 h1{
    background-color: rgb(251,178,23);
    color: white!important;
    padding:5px;
    letter-spacing: 3px;
    border-radius:5px;
    max-width: fit-content;
    margin-bottom:5px;
}
.section4 a{
    text-decoration: none;
    color: rgb(23, 23, 22);
}
.section4 a:hover{
    text-decoration: underline;
}
.section2 h4{
    margin-top:15px;
    margin-bottom:5px;
}
.section2 p{
    margin:0 0 35px 0;
}
.section2 div{
    display: flex;
    align-items: center!important;
}
.section3 p{
    margin:15px 0;
    color: rgb(23, 23, 22)!important;
}
.section3{
    height:200px!important;
    margin-right:20px;
}
.section4 p{
    margin:15px 0;
    color: rgb(23, 23, 22)!important;
}
.section4{
    height:200px!important;
}